:root {
  --red-lighter: rgb(246, 49, 49);
  --red-darker: rgb(183, 0, 0);
}

@font-face {
  font-family: "Pokemon";
  src: url("assets/Pokemon Solid.ttf");
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(246, 167, 167);
}

*:focus {
  outline: none;
}

header {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    var(--red-darker) 10%,
    var(--red-darker) 100%
  );
  border-bottom: 1px solid var(--red-darker);
}
header > a {
  text-decoration: none;
}

header > a > h1 {
  margin: 0.5rem;
  text-align: center;
  font-family: "Pokemon", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: rgb(255, 191, 0);
  -webkit-text-stroke: 0.2rem rgb(23, 23, 130);
  text-shadow: 0 0px 12px white;
}

footer {
  min-height: 2rem;
  background-color: var(--red-lighter);
  text-align: center;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
}
#main-wrapper {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
}

#main-wrapper main {
  flex: 1 0 auto;
}
#side-menu {
  min-width: 15rem;
  max-width: 25%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    var(--red-darker) 0%,
    var(--red-lighter) 100%
  );
}

#side-menu a {
  color: white;
}

#side-menu ul {
  list-style-image: url("assets/pokeball.svg");
}

article,
footer {
  padding: 0.5rem;
}

#search-bar {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}

#search-bar input {
  padding-left: 1rem;
}

#search-bar label {
  color: white;
}

#search-bar > *:not(:last-child) {
  margin-right: 0.5rem;
}

.input-group {
  display: inline;
  vertical-align: baseline;
}

.input-group > * {
  line-height: 1.5rem;
  border: none;
}
.input-group > *:first-child {
  border-radius: 25px 25px 0% 25px / 25px 0% 25px 25px;
}

.input-group > *:last-child {
  border-radius: 25px 25px 25px 25px / 0% 25px 25px 0%;
}

.text-center {
  text-align: center;
}
